/* Variables custom styles */

// Breakpoint //
$bp-tablet: 1024px;
$bp-mobile: 768px;

// Color //
$c-alizarin: #dd1f26;
$c-black: #000000;
$c-eclipse: #404040;
$c-light-grey: #cccccc;
$c-pacific-blue: #0091d5;
$c-red-pink: #f85570;
$c-white: #ffffff;

// Layout //
$logo-size: 100px;
